{% extends 'dorm_detective_app/base.html' %}

{% block content %}
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            <h2 class="text-primary mb-4 fw-bold">About Us</h2>
            <div class="about-content d-flex align-items-center justify-content-center">
                <div class="row mb-4 w-100">
                    <ol>
                        <li>Welcome to Dorm Detective, the ultimate platform to help prospective and current university
                            students
                            make informed decisions about their accommodation options. Our mission is to provide
                            authentic
                            insights
                            into university accommodations, making the process of selecting the perfect living space
                            easier
                            and
                            more
                            transparent.
                        </li>
                    </ol>
                </div>

                <div class="row mb-4 w-100">
                    <h3>What We Offer</h3>
                    <ol>
                        <li>A comprehensive database of university accommodations across various institutions
                        <li>Authentic reviews from previous and current students</li>
                        <li>Interactive maps displaying accommodation locations</li>
                        <li>Ability to sort accommodations by average rating</li>
                        <li>A user-friendly platform accessible to everyone</li>
                        <li>For Prospective Students</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}