{% extends 'dorm_detective_app/base.html' %}

{% block content %}
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="{% url 'dorm_detective:index' %}">Home</a></li>
         <li class="breadcrumb-item"><a href="{% url 'dorm_detective:universities' %}">Universities</a></li>
         <li class="breadcrumb-item"><a href="{% url 'dorm_detective:glasgow' %}">University of Glasgow</a></li>
         <li class="breadcrumb-item active">Finnieston Avenue</li>
    </ol>
 </nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ MEDIA_URL }}finnieston_avenue.jpg" alt="finnieston avenue dorm room">
        </div>
        <div class="col-lg-8">
            <div class="d-flex align-items-center justify-content-center">
                <h2><b>Finnieston Avenue</b></h2>
            </div>
            <div class="about-content d-flex align-items-center justify-content-center">
                <p>
                    Finnieston Avenue is a shared accommodation managed by the University of Glasgow and is located in the West End of Glasgow.
                    <br><br>
                    It provides 300 shared and en-suite rooms for both Undergraduate and Post-graduate students pursing degrees at the University of Glasgow.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}